doctype html
html
  head
    link(rel="stylesheet" href="/css/userlist.css")
  body
    .container
      h2.text-center.mt-5.mb-4 User List
      table.table.table-striped
        thead
          tr
            th(scope='col') Username
            th(scope='col') Email
            th(scope='col') Role
            th(scope='col') Branch
            th(scope='col') Action
            th 
            th
        tbody
          if signupkgls && signupkgls.length
            each signupkgl in signupkgls
              tr
                td #{signupkgl.username}
                td #{signupkgl.email}
                td #{signupkgl.role}
                td #{signupkgl.branch}
                td
                  a.btn.btn-primary.btn-sm(href=`/edit_users/${signupkgl._id}`) Edit
                td
                  form(method="post" action="/delete_users")
                    input(type="hidden" name="id" value=signupkgl._id)
                    button.btn.btn-danger.btn-sm(type="submit") Delete
          else
            tr
              td(colspan="6" class="text-center") No users found
